.fake-body {
    margin: auto;
    display: table;
    height: 400px;
    overflow: hidden;
}

.horizontal {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-family: Helvetica;
    color: var(--main-text-black);
}