/* --------------------------- COLORS ---------------------- */

.green-button {
    background-color: var(--button-green);
}

.green-light-button {
    background-color: var(--button-green);
}

.yellow-button {
    background-color: var(--button-yellow);
}

.red-button {
    background-color: var(--button-red);
}

.blue-button {
    background-color: var(--button-blue);
}

.blue-light-button {
    background-color: var(--button-blue-light);
}

/* --------------------------- CHANGE / DELETE BUTTON SET RIGHT ---------------------- */

/* button an rechter seite */
.set-right {
    width: 100px;
    float: right;
}

@media screen and (max-width: 767px) {

    /* button volle breite */
    .set-right {
        width: 100%;
    }
}

/* ---------------------------- INPUT form-control ---------------------------- */

.form-control {
    border-radius: 20px;
    box-shadow: none;
}

input.form-control:focus {
    background-color: var(--grey-50);
    border: 1px solid var(--blue-highlight);
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    text-decoration: none;
}

.form-control:hover {
    box-shadow: none;
    text-decoration: none;
}

button:not(.full-opacity).form-control:hover,
a:not(.full-opacity).form-control:hover,
.round-button:hover,
.red-button:hover,
.yellow-button:hover,
.green-button:hover {
    opacity: 0.9;
}

button:not(.full-opacity).form-control:active,
a:not(.full-opacity).form-control:active,
.round-button:active,
.red-button:active,
.yellow-button:active,
.green-button:active,
div.form-control:active{
    opacity: 0.8;
}

button.form-control,
button.form-control:focus,
button.form-control:hover,
a.form-control,
a.form-control:focus,
a.form-control:hover {
    box-shadow: none;
    border: none;
    color: white;
    text-align: center;
}


/* ---------------------------- SELECT ---------------------------- */

.select-parent {
    width: 100%;
}

.select-div {
    background-color: var(--grey-50);
    position: relative;
    z-index: 10;
}

.select-hidden {
    border: 1px solid var(--grey-25-border-input);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    margin-top: -17px;
    overflow: hidden;
    position: absolute;
    left: 15px; /* because of the bootstrap col-...-... margin of 15px */
    right: 15px;
    display: none;
    z-index: 9;
}

.select-p {
    background-color: var(--grey-60);
    border-bottom: 1px solid var(--grey-25-border-input);
    margin: 0;
    padding: 6px 12px;
    color: var(--text-black);
    position: relative;
    z-index: 1;
}

.select-p:first-child {
    padding-top: 20px;

}

.select-p:last-child {
    border-bottom: none;
}

.select-div:hover,
.select-p:hover {
    background-color: var(--blue-highlight);
    color: var(--text-white);
    cursor: pointer;
}

.select-highlight {
    background-color: var(--blue-focus);
    color: var(--text-black);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--grey-00-form-control);
    position: absolute;
    right: 20px;
    top: 15px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--grey-00-form-control);
    position: absolute;
    right: 20px;
    top: 15px;
}


