/* --------------------- NAVIGATION ---------------------------- */


/* Small header zur Navigation über den Kalender in Overview und planning Ordner Employer */
.calendar-navigation {
    background: var(--main-small-header-color);
    height: 42px; /* leider fest einzustellen, sonst bleibt keine hoehe da... */
    padding: 7px 0 7px 0; /* Abstand wegen Button oben und unten */
}

.calendar-navigation-p > p {
    float: right;
}

@media screen and (max-width: 767px) {
    .navigation-today {
        padding-left: 0;
    }
    .calendar-navigation-p {
        padding-right: 0;
    }
    .calendar-navigation {
        background-color: white;
    }
}

.table-head-store {
    width: 100%;
    background-color: var(--main-small-header-color);
    padding: 10px 0 10px 10px;
    margin: 0; /* weil drunter sonst Abstand */
    min-height: 45px;
}

.table-head-store .table-head-a {
    font-weight: bold;
    font-size: 13pt;
    text-decoration: none;
    color: var(--main-text-black);
    float: left;
}

.table-head-store button {
    float: right;
    margin-right: 10px;
}

.calendar-navigation * {
    display: inline;
}
/* Allgemeine Button-Anpassungen */
.navigation-today button {
    background-color: var(--main-middle-dark-color);
    border: none;
    border-radius: 3px;
    padding: 3px 7px 3px 7px;
    color: var(--main-text-white); /* Text-Farbe */
}

.emp-planning .calendar-navigation {
    background: var(--main-small-header-color);
    height: 40px; /* leider fest einzustellen, sonst bleibt keine hoehe da... */
    padding: 7px 0 7px 0; /* Abstand wegen Button oben und unten */
}

.calendar-navigation-p {
    text-align: center;
}

.to-right {
    float: right;
}


/* --------------------------- TABLE EMPLOYEE -------------------------------- */

.calendar-days-one-emp{
    background-color: var(--main-table-background);
    width: 100%;
    table-layout: fixed;
}

.calendar-days-one-emp > tr > td:first-child {
    max-width: 12px;
}

.calendar-days-one-emp td {
    text-align: center;
}

.calendar-days-one-emp .week-days {
    border-bottom: 1px solid var(--main-border-color);
}

.calendar-days-one-emp .all-day {
    border-bottom: 2px solid var(--main-border-color);
    height: 28px; /* damit zeile nicht kleiner, wenn kein allday event drin ist */
    vertical-align: top; /* events (elemente) oben ausrichten */
}

.calendar-days-one-emp .time-events {
    height: 200px; /* it means min-height */
    vertical-align: top; /* events (elemente) oben ausrichten */
}

.calendar-days-one-emp .add-buttons {
    height: 40px;
    border-bottom: 1px solid var(--main-border-color);
}
.calendar-days-one-emp .all-day td:not(:first-child),
.calendar-days-one-emp .time-events td:not(:first-child),
.calendar-days-one-emp .add-buttons td:not(:first-child) {
    border-left: 1px solid var(--main-border-color);
}

/* Samstag Sonntag Hintergrund */
.calendar-days-one-emp .all-day td:nth-child(7),
.calendar-days-one-emp .all-day td:nth-child(8),
.calendar-days-one-emp .time-events td:nth-child(7),
.calendar-days-one-emp .time-events td:nth-child(8),
.calendar-days-one-emp .add-buttons td:nth-child(7),
.calendar-days-one-emp .add-buttons td:nth-child(8) {
    background-color: var(--main-small-header-color);
}

.round-button {
    background-color: var(--main-green-button);
    color: var(--main-text-white);
    border-radius: 15px;
    padding: 4px 8px 5px 8px;
}

/* ---------------------------- TABLE ADMIN ------------------------------ */
.calendar-days-all-emp {
    background-color: var(--main-table-background);
    width: 100%;
    table-layout: fixed;
}

.calendar-days-all-emp td {
    text-align: center;
}

.calendar-days-all-emp .week-days,
.calendar-days-all-emp .all-day td:not(:first-child),
.calendar-days-all-emp .time-events {
    border-bottom: 1px solid var(--main-border-color);
    height: 28px; /* damit zeile nicht kleiner, wenn kein allday event drin ist */
}

.calendar-days-all-emp .time-events,
.calendar-days-all-emp .all-day {
    vertical-align: top; /* events (elemente) oben ausrichten */
}

.calendar-days-all-emp .all-day td:not(:nth-child(1)):not(:nth-child(2)),
.calendar-days-all-emp .time-events td:not(:nth-child(1)):not(:nth-child(2)),
.calendar-days-all-emp .add-buttons td:not(:nth-child(1)):not(:nth-child(2)) {
    border-left: 1px solid var(--main-border-color);
}

/* Samstag Sonntag Hintergrund */
.calendar-days-all-emp .all-day td:nth-child(7),
.calendar-days-all-emp .all-day td:nth-child(8),
.calendar-days-all-emp .time-events td:nth-child(7),
.calendar-days-all-emp .time-events td:nth-child(8) {
    background-color: var(--main-small-header-color);
}

.today {
    background-color: var(--main-today-color);
}


/* ---------------------------- EVENTS ------------------------------- */

.one-time-event *,
.one-allday-event * {
    padding: 0;
    margin: 0;
}

.one-time-event,
.one-allday-event {
    margin: 2px;/* damit event abstand zur week-day border hat */
    border-radius: 5px;
    cursor: pointer;
}

.one-time-event p,
.one-allday-event p {
    margin: 2px; /* damit linie im event nicht komplett durchgezogen */
}

.one-time-event p:first-child {
    border-bottom: 1px solid white;
}

.event-accepted {
    border-top: 1px solid white;
}

.blue p,
.red p,
.orange p,
.dark-green p,
.grey p,
.light-green p,
.yellow p {
    color: var(--main-text-white);
}

/*.yellow p {*/
    /*color: var(--main-text-black);*/
/*}*/

.blue {
    background-color: cornflowerblue;
}
.red {
    background-color: orangered;
}
.orange {
    background-color: orange;
}
.dark-green {
    background-color: green;
}
.grey {
    background-color: grey;
}

.yellow {
    background-color: #F2D600;
}
.light-green {
    background-color: yellowgreen;
}


/* --------------------------- CLICK EVENT CHANGE DELETE --------------------------- */

.event-dropdown-content {
    display: none;
    z-index: 5;
    padding: 5px;
    margin: 0 2px 0 2px;
}

.event-dropdown-content button {
    color: white;
    border-radius: 40px;
    border: 2px solid white;
    width: 38px;
    height: 38px;
}

.event-dropdown-content button,
.event-dropdown-content form {
    display: inline-block;
}

.event-dropdown-content .change-event-button {
    background-color: var(--main-yellow-button);
}

.event-dropdown-content .delete-event-button {
    background-color: var(--main-red-button);
}

.event-dropdown-content .add-event-button {
    background-color: var(--main-green-button);
}





/* --------------------------- HOVER ACTIVE --------------------------- */

.calendar-navigation button:hover,
.table-head-store button:hover {
    background-color: var(--main-highlight-color);
    cursor: pointer;
}

.calendar-navigation button:active,
.table-head-store button:active {
    background-color: var(--main-active-color);
    cursor: pointer;
}

.round-button:hover {
    text-decoration: none;
    color: white;
    background-color: var(--main-highlight-color);
    cursor: pointer;
}

.round-button:active {
    text-decoration: none;
    color: white;
    background-color: var(--main-active-color);
    cursor: pointer;
}

.one-time-event:hover,
.one-allday-event:hover {
    opacity: 0.9;
    cursor: pointer;
}

.one-time-event:active,
.one-allday-event:active {
    opacity: 0.8;
    cursor: pointer;
}

.event-dropdown-content .add-event-button:hover,
.event-dropdown-content .change-event-button:hover,
.event-dropdown-content .delete-event-button:hover {
    background-color: var(--main-highlight-color);
    cursor: pointer;
}


.event-dropdown-content .add-event-button:active,
.event-dropdown-content .change-event-button:active,
.event-dropdown-content .delete-event-button:active {
    background-color: var(--main-active-color);
    cursor: pointer;
}


/* --------------------------- DESIGN MOBILE DEVICE --------------------------- */

.space_emp{
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    .button-show{
        display: none;
    }

    .button-hide{
        display: block;
    }

    .set-size{
        font-size: 150%;
    }

    .float-right{
        float: right;
    }

}

@media screen and (min-width: 768px) {

    .button-show{
        display: block;

    }



    .button-hide{
        display: none;
    }
}

.header{
    text-align:center;
}