/* mainsection ist der graue obere Bereich auf den general Seiten */
.mainsection {
    height: 200px;
    background-color: var(--main-mainsection-lower-header-color);
}

.mainsection article {
    width: 60%; /* muss leider fix festgelegt werden */
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table; /* passt die Hoehe an Inhalt an */
}

.mainsection article aside {
    float: left;
    width: 50%;
}

.mainsection h2 {
    float: left;
    color: var(--main-mainsection-lower-header-text-color);
    font-size: 30pt;
    font-weight: normal;
    padding-left: 10px;
    margin: 0;
    bottom: 0;
    position: absolute;
}

.mainsection img {
    float: right;
    height: 100px;
}

/* subheader nur in contact */
.subheader {
    height: 100px;
}

/* Achtung global */
h1 , h2, h3 {
    text-align: center;
    font-weight: normal;
}