
/* ---------------------------- VARIABLE / REST---------------------------- */

/* Variablen Deklaration: fuer ALLE Dateien zugreifbar */
:root {

    /* background */
    --main-header-color: #686868;
    --main-article-color: #FAFAFA;
    --main-middle-dark-color: #BFBFBF;
    --main-table-background: #FCFCFC;
    --main-small-header-color: #F1F1F1;
    --main-mainsection-lower-header-color: gainsboro;

    /* border */
    --main-border-color: #A6A6A6;
    --main-input-border-color: lightgrey;
    --main-dropdown-border-color: lightgrey;

    /* text */
    --main-mainsection-lower-header-text-color: #686868;
    --main-playeholder-color: grey;
    --main-text-black: black;
    --main-text-white: white;

    /* pop-up */
    --main-pop-up-progress-bar: #ddd;
    --main-pop-up-progress-bar-behind: #868686;

    /* active / focus */
    --main-focus-color: #CFE8FD;
    --main-highlight-color: #00A9FF;
    --main-active-color: #0C8EE8; /* weil noch nicht funktioniert */

    /* red / yellow / green */
    --main-red-button: #FF5702;
    --main-yellow-button: #FFC400;
    --main-green-button: #9CE159;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* größe wird von außen nach innen gesetzt */
    -moz-box-sizing: border-box; /* das gleiche fuer aeltere browser */
    font-family: "Helvetica Neue";
    color: var(--main-text-black);
}

body {
    background-color: white;
}

.space-under-header {
    height: 60px;
}

.nav-logo {
    height: 50px;
    padding: 10px 10px 0 10px;
}

/* ---------------------------- HEADER / FOOTER ---------------------------- */
header {
    position: fixed;
    z-index: 10;
}

header,
footer {
    width: 100%;
    background-color: var(--main-header-color);
    height: 60px;
    z-index: 200; /* damit immer oberste Ebene (JS Calendar war sonst manchmal höher) */
}

/* ---------------------------- UL ---------------------------- */
header ul,
footer ul {
    margin: 0; /* um Bootrap Fehler auszugleichen */
}

header ul.right-list,
footer ul {
    float: right; /* nur rechte ul rechtsbuendig */
}

/* ---------------------------- LI ---------------------------- */
header li,
footer li {
    list-style-type: none;
    background-color: var(--main-header-color);
    height: 60px;
    display: inline-block; /* in einer reihe */
    float: left; /* bloecke auf gleicher Hoehe */
    outline: none;
}

header li.nav-toggle,
header li.nav-placeholder {
    display: none; /* toggle normalerweise nicht anzeigen */
}

/* ---------------------------- A ---------------------------- */
header a,
footer a,
li.nav-placeholder {
    display: block;
    color: var(--main-text-white); /* text farbe */
    text-align: center;
    text-decoration: none; /* nicht als Link anzeigen */
    font-size: 15px;
    height: 60px;
    min-width: 100px;
    transition: 0.2s; /* Zeitangabe fuer hover */
    outline: none; /* damit nicht umrahmt wenn angeklickt */
}

header ul li:not(.nav-image) a,
footer a {
    padding: 20px 10px 0 10px; /* toggle und Text in der Mitte; rechts links abstand, falls inhalt zu lang */
}

header a.myActive,
footer a.myActive {
    background-color: var(--main-active-color); /* Wenn aktiver Tab */
}

header li:not(.nav-placeholder) a:hover,
footer a:hover {
    background: var(--main-highlight-color); /* Wenn Mauszeiger drauf */
}

/* wegen Bootstrap */
header a:hover,
footer a:hover,
header a:active,
footer a:active,
header a.myActive,
footer a.myActive,
header a:focus,
footer a:focus {
    color: var(--main-text-white); /* Text-farbe: Wegen Bootstrap */
    text-decoration: none; /* Nicht als link anzeigen: Wegen Bootstrap */
    outline: none;
    font-weight: normal;
}

/* ---------------------------- RESPONSIVE ---------------------------- */
@media screen and (max-width: 767px) {

    ul.right-list li {
        display: none; /* Normale Tabs nicht anzeigen */
    }

    ul.left-list li.nav-toggle {
        display: block; /* Toggle ganz rechts oben anzeigen */
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.left-list li.nav-placeholder {
        display: block; /* placeholder fuer aktuellen Tab */
        position: absolute;
        right: 100px; /* 100px links von rechter Ecke (neben toggle elemenet) anzeigen */
    }

    ul.responsive li.nav-placeholder {
        display: none; /* Wenn Dropdown offen Placeholder nicht anzeigen */
    }

    ul.right-list.responsive {
        position: relative;
        width: 100%; /* rechte Liste wird als Dropdown auf kompletter Breite quasi aufgeklappt */
    }

    ul.right-list.responsive li {
        float: none;
        display: block;
    }

    ul.right-list.responsive li a {
        text-align: center; /* Dropdown Text in der Mitte */
    }

    ul.right-list.responsive li a {
        border-top: 1px solid var(--main-dropdown-border-color); /* Dropdown Trennlinien */
    }
}