/* ---------------------------- VARIABLE / REST---------------------------- */

/* Variablen Deklaration: fuer ALLE Dateien zugreifbar */
:root {

    /* background */
    --grey-00-form-control: #555555;
    --grey-00-darkest: #686868;
    --grey-10: #868686;
    --grey-20: #BFBFBF;
    --grey-25-border-input: #CCD0D2;
    --grey-30: #DCDCDC;
    --grey-40: #DDDDDD;
    --grey-45: #E1E1E1;
    --grey-50: #F1F1F1;
    --grey-60: #FAFAFA;
    --grey-70: #FCFCFC;


    --grey-border: #A6A6A6;
    --grey-border-dropdown: #D3D3D3;

    /* text */
    --text-guest-header: #686868;
    --text-black: #000000;
    --text-white: #FFFFFF;

    /* active / focus */
    --blue-focus: #CFE8FD;
    --blue-highlight: #00A9FF;
    --blue-active: #0C8EE8;
    --red-active-today: #FFDDDA; /* in wochen-kalender */

    /* red / yellow / green / blue */
    --button-red: #FF5702;
    --button-yellow: #FFC400;
    --button-green: #9CE159;
    --button-light-green: #DBFFC5;
    --button-blue: #00A9FF;
    --button-blue-light: #56CCFF;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* groesse wird von außen nach innen gesetzt */
    -moz-box-sizing: border-box; /* das gleiche fuer aeltere browser */
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: var(--text-black);
}

body {
    background-color: white;
}

.space-under-header {
    height: 60px;
}

.nav-logo {
    height: 50px;
    padding: 10px 10px 0 10px;
}

/* ---------------------------- HEADER / FOOTER ---------------------------- */
header {
    position: fixed;
    z-index: 10;
}

header,
footer {
    width: 100%;
    background-color: var(--grey-00-darkest);
    height: 60px;
    z-index: 200; /* damit immer oberste Ebene (JS Calendar war sonst manchmal höher) */
}


.header-flash {
    background-color: var(--blue-highlight);
}

/* ---------------------------- UL ---------------------------- */
header ul,
footer ul {
    margin: 0; /* um Bootrap Fehler auszugleichen */
}

header ul.right-list,
footer ul {
    float: right; /* nur rechte ul rechtsbuendig */
}

/* ---------------------------- LI ---------------------------- */
header li,
footer li {
    list-style-type: none;
    background-color: var(--grey-00-darkest);
    height: 60px;
    display: inline-block; /* in einer reihe */
    float: left; /* bloecke auf gleicher Hoehe */
    outline: none;
}

header li.nav-toggle,
header li.nav-placeholder {
    display: none; /* toggle normalerweise nicht anzeigen */
}

/* ---------------------------- A ---------------------------- */
header a,
footer a,
li.nav-placeholder {
    display: block;
    color: var(--text-white); /* text farbe */
    text-align: center;
    text-decoration: none; /* nicht als Link anzeigen */
    font-size: 15px;
    height: 60px;
    min-width: 100px;
    transition: 0.2s; /* Zeitangabe fuer hover */
    outline: none; /* damit nicht umrahmt wenn angeklickt */
}

header ul li:not(.nav-image) a,
footer a {
    padding: 20px 10px 0 10px; /* toggle und Text in der Mitte; rechts links abstand, falls inhalt zu lang */
}

header a.myActive,
footer a.myActive {
    background-color: var(--blue-active); /* Wenn aktiver Tab */
}

header li:not(.nav-placeholder) a:hover,
footer a:hover {
    background: var(--blue-highlight); /* Wenn Mauszeiger drauf */
}

/* wegen Bootstrap */
header a:hover,
footer a:hover,
header a:active,
footer a:active,
header a.myActive,
footer a.myActive,
header a:focus,
footer a:focus {
    color: var(--text-white); /* Text-farbe: Wegen Bootstrap */
    text-decoration: none; /* Nicht als link anzeigen: Wegen Bootstrap */
    outline: none;
    font-weight: normal;
    cursor: pointer;
}

/* ---------------------------- RESPONSIVE ---------------------------- */
@media screen and (max-width: 767px) {

    ul.right-list li {
        display: none; /* Normale Tabs nicht anzeigen */
    }

    ul.left-list li.nav-toggle {
        display: block; /* Toggle ganz rechts oben anzeigen */
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.left-list li.nav-placeholder {
        display: block; /* placeholder fuer aktuellen Tab */
        position: absolute;
        right: 100px; /* 100px links von rechter Ecke (neben toggle elemenet) anzeigen */
    }

    ul.responsive li.nav-placeholder {
        display: none; /* Wenn Dropdown offen Placeholder nicht anzeigen */
    }

    ul.right-list.responsive {
        position: relative;
        width: 100%; /* rechte Liste wird als Dropdown auf kompletter Breite quasi aufgeklappt */
    }

    ul.right-list.responsive li {
        float: none;
        display: block;
    }

    ul.right-list.responsive li a {
        text-align: center; /* Dropdown Text in der Mitte */
    }

    ul.right-list.responsive li a {
        border-top: 1px solid var(--grey-border-dropdown); /* Dropdown Trennlinien */
    }
}

/* ---------------------------- Falls JavaScript nicht aktiviert (im head) ---------------------------- */

.no-script-message {
    background-color: var(--button-red);
    color: white;
    margin: 0;
    padding: 10px;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 60px;
    font-size: 12pt;
}

/* ---------------------- CHECKBOX Sign In ---------------------- */
@media screen and (max-width: 767px) {
    .my-checkbox {
        padding-bottom: 10px;
    }
}

.my-checkbox label {
    display: block;
    height: 36px;
    border-radius: 20px;
    padding: 6px 12px;
    font-weight: normal;
    color: darkgray;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--button-red);
}

.my-checkbox input {
    left: 40px;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.my-checkbox input:checked + label {
    background: var(--button-light-green);
    border: 1px solid var(--button-light-green);
}

.space-just-bottom {
    margin-bottom: 15px;
}