/* 체berschrift ausrichtung im Change Men체*/
.modal-ueberschrift,
.select-ueberschrift{
    text-align: center;
}

/* L채nge vom Feld im Change Menue*/
.modal-input {
    margin: 0;
    width: 100%;
}

/* Textausrichtung der linken Tabellen haelfte Change Menue*/
.aside-left{
    text-align: right;
}

.aside-left-add, .aside-left-add-special{
    text-align: right;
    padding-top: 10px; /* von alex weil text zu hoch */
}

.aside-left-delete{
    text-align: right;
}

.aside-right-delete{
    border-left: solid 1px var(--grey-border);
}

.aside-right{
    border-left: solid 1px var(--grey-border);
}


/* Linie zwischen den Bereichen im change Men체*/
.placeholder-mobil{
    display: none;
}

.space-line{
    margin-top: 10px;
    margin-bottom: 10px;
}

.space-cap{
    margin-top: 10px;
    margin-bottom: 3px;
}

.space-cap-inner{
    margin-top: 3px;
    margin-bottom: 3px;
}

.space-cap-bottom{
    margin-top: 3px;
    margin-bottom: 10px;
}

.inputmodal {
    color: black;
}

#modal-body-admin{
    display: none;
}

.modal-sub{
    text-align: center;
}



/* ---------------------SIGN IN/UP HEAD --------------------*/
.signin-head1,
.signin-head2{
    padding-bottom: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.signin-head1 {
    color: black;
    font-weight: bold;
    border-bottom: 5px solid var(--grey-10);
}

.signin-head2 {
    color: var(--grey-40);
    font-weight: normal;
    border-bottom: 5px solid var(--grey-40);
}


/* on HOVER */
.signin-head1:hover,
.signin-head2:hover {
    background-color: var(--grey-50);
    color: black;
    cursor: pointer;
}

/* on ACTIVE */
.signin-head1:active,
.signin-head2:active {
    background-color: var(--grey-30);
    color: black;
}
/* ---------------------SIGN IN/UP HEAD ENDE -------------------*/




/*Mobile divice ansicht*/
@media(max-width:767px){
    /*Kapitel weden ausgeblendet*/
    .aside-left{
        display: none;
    }

    .aside-left-add{
        text-align: center;
        font-weight: bold;
    }

    .aside-left-add-special{
        font-weight: bold;
    }
    /* Specialfall zeile 1*/
    .special-case-left{
        display: block;
        text-align: left;
    }

    /*div zwischen den Kapitel*/
    .placeholder-mobil{
        display: block;
    }
    /*linie zwischen den Kapitel*/
    .hr-line{
        height: 5px;
        background-color: var(--grey-border);
        margin-left: 30%;
        margin-right: 30%;
    }

    .aside-right{
        border-left: none;
    }

    .aside-right-add{
        text-align: center;
    }

}

/* --------------------- ADD EVENT SHOW TIME -------------------*/
.hide-time-input {
    display: none;
}