
/* ----------------------- SEITEN AUFTEILUNG ----------------------- */

.my-right-side,
.side-bar {
    margin: 0;
    padding: 0;
}

/* Trennlinie zwischen Side-bar und aside-right */
.side-bar {
    padding-right: 20px; /* Abstand zwischen Beiden spalten und Trennlinie */
}

/* Trennlinie zwischen Side-bar und aside-right */
.my-right-side {
    padding-left: 20px; /* Abstand zwischen Beiden spalten und Trennlinie */
}

/* in mobiler sicht */
@media screen and (max-width: 767px) {
    .side-bar,
    .my-right-side {
        padding: 0;
        border: none;
    }

    /* Auflistung der Stores nicht anzeigen */
    .hide-mobil {
        display: none;
    }

    /* zwischen-freiraum */
    .overview.side-bar br {
        display: none;
    }
}




/* Ueberschrift im small header */
.middle-bold {
    font-weight: bold;
    text-align: center;
}



/*!* Search-Feld *!*/
/*.side-bar .input-sidebar{*/
/*border: 0;*/
/*background: var(--grey-60);*/
/*}*/

/*.side-bar p */
/*.side-bar .input-sidebar,*/
/*.side-bar .up-element,*/
/*.headline {*/
/*width: 100%;*/
/*display: block;*/
/*padding: 10px 0 10px 5px;*/
/*margin-top: 2px;*/
/*border: 1px solid var(--grey-border);*/
/*border-radius: 20px;*/
/*text-decoration: none;*/
/*color: var(--text-black);*/
/*}*/


/*.search-list-request {*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*.search-list-request li:last-child {*/
/*border-bottom: 1px solid var(--grey-border);*/
/*}*/





/* ----------------------- BUTTON ADD STORE / EMPLOYEE ----------------------- */
.left-button-side-bar,
.right-button-side-bar {
    padding: 0 0 2px 0;
}

@media screen and (min-width: 1200px) {
    .left-button-side-bar {
        padding: 0 2px 0 0;
    }

    .right-button-side-bar {
        padding: 0 0 2px 2px;
    }
}

@media screen and (max-width: 767px) {
    .left-button-side-bar {
        padding: 0 2px 2px 0;
    }

    .right-button-side-bar {
        padding: 0 0 2px 2px;
    }
}

/* ----------------------- STORE AUFLISTUNG ----------------------- */

.up-element {
    margin: 2px 0 2px 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--grey-50);
    height: auto;
    border: none;
    display: flex;
}

.element-text,
.element-arrow {
    background-color: transparent; /* form-control-ausschalten */
    border-radius: 0; /* form-control-ausschalten */
    height: auto; /* Element passt sich der hoehe des testes an */
    float: left; /* elemente nebeneinander */
    color: black !important; /* schrift */
    text-align: left !important; /* linksbuending */

}

.element-text {
    width: 80%;
}

.element-arrow {
    width: 20%;
    border-left: 1px solid var(--grey-40) !important;
    padding: auto;
}



/* ------------------------------- UNTERLISTE ----------------------------- */
/* Unterliste initial ausblenden */
.each-element .sub-element {
    display: none;
}

/* Unterliste */
.side-bar .sub-element li {
    list-style: none; /* keine spiegel-punkte */
    margin: 0 10px 0 10px; /* links und rechts abstand */
}

.side-bar .sub-element li a {
    width: 100%;
    display: block;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid var(--grey-40);
    text-decoration: none;
    color: var(--text-black);
}

.side-bar .sub-element li:last-child a {
    border: none;
}


/* ----------------------- FOCUS CURRENT HOVER ----------------------- */

/* Wenn Search-Feld angeklickt */
.side-bar .input-sidebar:focus {
    outline: none;
    background: var(--blue-focus);
}


/* wenn element aktueller Store */
.up-element.current-store {
    background-color: var(--grey-45);
}
.up-element.current-store .element-text,
.up-element.current-store .element-arrow {
    font-weight: 500;
}
.up-element.current-store .element-arrow {
    border-left: 1px solid white !important;
}


/* Wenn Cursor ueber dem Element */
.element-text:hover,
.element-arrow:hover,
.side-bar .sub-element li a:hover {
    background-color: var(--blue-highlight); /* Variable in header-footer.css deklariert */
    color: var(--text-white) !important; /* text-farbe */
    cursor: pointer;
}