/*
Wird benutzt um die Tabellen für admin.html und Account.html
zu definieren, sowie eine generelle css für die jeweiligen Klassen
*/

/* ---------------------------------- TABLE ---------------------------------- */

.table-account {
    width: 100%; /* Tabelle an Breite anpassen */
}

.table-account td {
    padding: 5px;
    border-bottom: 1px solid var(--main-border-color); /* nach jeder zeile duenner rand */
}

/* oberste zeile */
.table-account tr:first-child td {
    border-top: 1px solid var(--main-border-color); /* ausnahme oben mit Rand */
}

/* die erste spalte */
.table-account tr td:first-child {
    text-align: right; /* text rechtsbuendig */
    width: 30%;
    border-right: 1px solid var(--main-border-color);
}

/* tabellen zwischen-zeile: farbe / Hoehe */
.table-space {
    height: 10px;
    background: var(--main-small-header-color);
}
/* tabellen Zwischen-zeile: keine inneren Rahmen */
.table-account .table-space td:first-child {
    border-right: none;
}

/* ---------------------------------- BUTTON ---------------------------------- */

/* bootstrap erweiterte Klasse */
.my-account-button {
    color: var(--main-text-white);
    margin: 15px 0 15px 0; /* Abstand zur Tabelle */
}

/* Wenn mauszeiger drüber */
.my-account-button:hover {
    background-color: var(--main-header-color);
}

.my-account-button:active {
    background-color: var(--main-highlight-color);
}

/* button an rechter seite */
.to-right {
    width: 100px;
    float: right;
}

/* button color */
.red {
    background-color: var(--main-red-button);
}

.yellow {
    background-color: var(--main-yellow-button);
}