/* ---------------------------------- TABLE ---------------------------------- */

.table-account {
    width: 100%; /* Tabelle an Breite anpassen */
}

.table-account td {
    padding: 5px;
    border-bottom: 1px solid var(--grey-border); /* nach jeder zeile duenner rand */
}

/* oberste zeile */
.table-account tr:first-child td {
    border-top: 1px solid var(--grey-border); /* ausnahme oben mit Rand */
}

/* die erste spalte */
.table-account tr td:first-child {
    text-align: right; /* text rechtsbuendig */
    width: 30%;
    border-right: 1px solid var(--grey-border);
}

/* tabellen zwischen-zeile: farbe / Hoehe */
.table-space {
    height: 10px;
    background: var(--grey-50);
}

/* tabellen Zwischen-zeile: keine inneren Rahmen */
.table-account .table-space td:first-child {
    border-right: none;
}

/* ---------------------------------- BUTTON ---------------------------------- */

.space-to-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    text-align: center;
}

.row {
    padding: 0 15px 0 15px;
}