.features h5 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.features h3 {
    margin-top: 30px;
    font-size: 25pt;
    font-weight: normal;
}

.features p {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.features img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.features .carousel img {
    width: auto;
    margin-bottom: 30px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* ------------------ ALEX --------------------- */
.features .grey {
    background-color: var(--grey-50);
}

.row {
    margin: 0;
}

@media screen and (min-width: 992px) {
    .features .row {
        padding: 0 150px 0 150px;
    }
}


@media screen and (min-width: 768px) {
    .features .row {
        padding: 0 100px 0 100px;
    }
}

@media screen and (max-width: 767px) {
    .features .row {
        padding: 0 40px 0 40px;
    }

    .display-none-heading {
        display: none;
    }

}






