/* sub-header ist der graue obere Bereich auf den general Seiten */
.sub-header {
    height: 180px;
    background-color: var(--grey-30);
    padding: 60px 0 60px 0;
}

.sub-header-div {
    height: 60px;
    display: table;
    margin: auto;
}

.sub-header-image {
    height: inherit;
    float: left;
}

.sub-header-text {
    color: var(--text-guest-header);
    float: left;
    height: inherit;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 65px;
}

@media screen and (max-width: 767px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .sub-header {
        height: 60px;
        padding: 15px 0 15px 0;
    }

    .sub-header-div {
        margin: 0 0 0 10px;
        height: 30px;
    }

    .sub-header-text {
        font-size: 33px;
        /*display: none;*/
    }
}


h1, h2, h3 {
    text-align: center;
    font-weight: normal;
}

p {
    text-align: justify; /* Blocksatz */
}

hr {
    border: 0.1px solid var(--grey-border); /* Trennlinie zwischen den Abschnitten */
}