.dataprotection p {
    text-align: justify; /* Blocksatz */
}

.dataprotection hr {
    border: 0.1px solid var(--grey-border); /* Trennlinie zwischen den Abschnitten */
}

/* ul */
.data-protection-list {
    padding-left: 50px;
}

@media screen and (max-width: 767px) {
    .display-none-heading {
        display: none;
    }
}


