.firstrow {
    text-align: right;
    width: 100%;
    padding: 10px 0 10px 0;
}

/* bootstrap erweiterte Klasse */
.my-account-button {
    color: var(--main-text-black);
    margin-left: 10px; /* Abstand zur Tabelle */
}

/* Wenn mauszeiger drüber */
.my-account-button:hover {
    background-color: var(--main-header-color);
}

.my-account-button:active {
    background-color: var(--main-highlight-color);
}

/* button an rechter seite */
.to-right {
    width: 100px;
    float: right;
}

.space {
    height: 10px;
}